<div class="container text-center ">
    <div class="row">
      <div class="col-6">
        <div class="p-3">
        <div class="card" style="width: 18rem;">
            <img src="https://www.kmctitm.org/images/about/mission_image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mission</h5>
              <p class="card-text">
                To foster a culture of innovation and continuous learning, empowering students to 
                think boldly and effect positive change. To engage in cutting-edge 
                research that addresses real-world challenges and contributes to the betterment of society.
                </p>
            </div>
      </div>
      </div>
      </div>
      <div class="col-6">
        <div class="p-3">
          <div class="card" style="width: 18rem;">
            <img src="https://www.kmctitm.org/images/about/vision_image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Vision</h5>
              <p class="card-text">Innovate, Educate, Elevate:
                 Forging Paths to Technical Excellence and Leadership</p>
            </div>
          </div>
      </div>
